{% extends "register/base.html" %}

{% block name %}
Підсумки
{% endblock name %}

{% block content %}
<div class=" justify-content-left p-2 mb-4" role="toolbar" aria-label="Toolbar with button groups">
<a class="btn btn-success" href="{% url 'itog_form' %}" ><i class="far fa-plus-square"></i> Додати запис</a>
<a class="btn btn-success" href="{% url 'itog_csv' %}" > <i class="fas fa-long-arrow-alt-down"></i> Експорт таблиці</a>
<a name = "write_itog" class="btn btn-success" href="#" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-long-arrow-alt-up"></i> Імпорт таблиці</a>
<a class="btn btn-success" href="#" data-toggle="modal" data-target="#itog_filterModal"><i class="fas fa-filter"></i> Фільтр та пошук</a>
  {% include "register/modal.html" %}</div>
  {% include "register/itog/itog_filter.html" %}
<div class="overflow-auto">

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Номер запису</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#itog_filterModal"><i class="fas fa-search"></i> Студент</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#itog_filterModal"><i class="fas fa-filter"></i> Предмет</td>
            <td>Викладач</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#itog_filterModal"><i class="fas fa-filter"></i> Оцінка</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for Itog in itog_list %}
        <tr>
            <td>{{Itog.id}}</td>
            <td>{{Itog.n_stud}}</td>
            <td>{{Itog.n_predmeta}}</td>
            <td>{{Itog.n_prepod}}</td>
            <td>{{Itog.otsenka}}</td>
            <td>
            <a href="{% url 'itog_form_id' Itog.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form  action="{% url 'itog_delete' Itog.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
{% include "../pagination.html" with page=itog_list data='surname' %}      
{% endblock content %}
