{% extends "register/base.html" %}

{% block name %}
Викладачі
{% endblock name %}

{% block content %}
<a class="btn btn-success" href="{% url 'prepod_form' %}" ><i class="far fa-plus-square"></i> Додати запис</a>
<a class="btn btn-success" href="{% url 'prepod_csv' %}" > <i class="fas fa-long-arrow-alt-down"></i> Експорт таблиці</a>
<a name = "write_prepod" class="btn btn-success" href="#" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-long-arrow-alt-up"></i> Імпорт таблиці</a>
  {% include "register/modal.html" %}
<div class="overflow-auto">

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Номер викладача</td>
            <td>Прізвище</td>
            <td>Ім`я</td>
            <td>По-батькові</td>
            <td>Категорія</td>
            <td>Дата народження</td>
            <td>Стать</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for Prepod in prepod_list %}
        <tr>
            <td>{{Prepod.id}}</td>
            <td>{{Prepod.familiya}}</td>
            <td>{{Prepod.imya}}</td>
            <td>{{Prepod.otchestvo}}</td>
            <td>{{Prepod.category}}</td>
            <td>{{Prepod.data_rozhd}}</td>
            <td>{{Prepod.sex}}</td>
            <td>
            <a href="{% url 'prepod_form_id' Prepod.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form  action="{% url 'prepod_delete' Prepod.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
{% include "../pagination.html" with page=prepod_list %}           
{% endblock content %}
