<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    
    
</head>
<body>
 


  <nav id="navmenu" class="navbar navbar-expand-lg navbar-light bg-light">
    

      <a class="navbar-brand" href="{% url 'main_page' %}">
        <i class="fab fa-python"></i>
        CRUD</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                          <li class="nav-item dropdown">          
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Таблиці
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'itog_list' %}">Підсумки</a></li>
                            <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'stud_list' %}">Студенти</a></li>
                                <li><a class="dropdown-item" href="{% url 'prepod_list' %}">Викладачі</a></li>
                                <li><a class="dropdown-item" href="{% url 'groups_list' %}">Групи</a></li>
                              <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'predmety_list' %}">Предмети</a></li>
                                <li><a class="dropdown-item" href="{% url 'spec_list' %}">Спеціальності</a></li>
                            </ul>
                          </li>
                        </ul>
                        
      </div>
      
    
  </nav>
  
          <div class="jumbotron jumbotron-fluid ">
            <div class="container">
              
                <h1 class="display-4 font-weight-bold ">{% block name %}{% endblock name %}</h1>
                <p class="lead">CRUD</p>   
                <hr class="my-4">
                  {% block content %}
                  {% endblock content %}
              </div>
            </div>
          </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.60/inputmask/jquery.inputmask.js"></script>
<script>
  $("#phone").inputmask("+389999999999");
  $("#datepicker").inputmask("99-99-9999");
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  
  $( "#datepicker" ).datepicker({
    dateFormat:"dd-mm-yy",
    closeText: 'Закрити',
    prevText: 'Попередній',
    nextText: 'Наступний',
    currentText: 'Сьогодні',
    
	  monthNames : ['Січень','Лютий','Березень','Квітень','Травень','Червень','Липень','Серпень','Вересень','Жовтень','Листопад','Грудень'],
	  monthNamesShort: ['Січ','Лют','Бер','Квіт','Трав','Черв',
                    'Лип','Січ','Вер','Жовт','Лист','Груд'],
    dayNames: ['Неділя','Понелілок','Вівторок','Середа','Четвер','Пʼятниця','Субота'],
    dayNamesShort: ['Ндл','Пнд','Втр','Срд','Чтв','Птн','Сбт'],
    dayNamesMin : ['Нд','Пн','Вт','Ср','Чт','Пт','Сб'],
    weekHeader: 'Тижд',
    minDate: new Date(1980, 1 - 1, 1),
    yearRange: "1980:2021",
    changeMonth: true,
    changeYear: true,
    mask:true,
  },);
});
</script>

<script>
  $('a[name="write_stud"]').click(function () {
    document.getElementById("FormID").action = "{% url 'stud_upload' %}";
    });
  $('a[name="write_gr"]').click(function () {
    document.getElementById("FormID").action = "{% url 'groups_upload' %}";
    });
  $('a[name="write_prepod"]').click(function () {
    document.getElementById("FormID").action = "{% url 'prepod_upload' %}";
    });
  $('a[name="write_pred"]').click(function () {
    document.getElementById("FormID").action = "{% url 'predmety_upload' %}";
    });
  $('a[name="write_spec"]').click(function () {
    document.getElementById("FormID").action = "{% url 'spec_upload' %}";
    });
  $('a[name="write_itog"]').click(function () {
    document.getElementById("FormID").action = "{% url 'itog_upload' %}";
    });
</script>

<script>
  function upload(event) {
    event.preventDefault();
    var data = new FormData($('form').get(0));

    $.ajax({
      url: $(this).attr('action'),
      type: $(this).attr('method'),
      data: data,
      cache: false,
      processData: false,
      contentType: false,
      success: function(data) {
        if(data.err_code == 1){
          alert(data.err_message);
        }
        else{
          alert("Успіх!");
          location.href = ".";
        }
      }
  });
return false;
}

$(function() {
    $("#FormID").submit(upload);
});

</script>

<script>
jQuery('.dropdown-toggle').on('click', function (e) {
  $(this).next().toggle();
});
jQuery('.dropdown-menu.keep-open').on('click', function (e) {
  e.stopPropagation();
});
</script>

</body>
</html>