{% extends "register/base.html" %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div>
            <strong>{{message|safe}}</strong>
            <br>
            <button class="btn btn-primary" onclick="window.location.href='..'">Назад</button>
        </div>
    {% endfor %}
{% else %}

<p class="lead">{{order}}</p>



<form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
    <div class="form-group">
    
    <label for="exampleFormControlFile1">Завантажити файл:</label>
    
    <p>
        <input type="file"  class="form-control-file" id="exampleFormControlFile1" name="file">
        <small  class="form-text text-muted">Приймаються тільки файли у форматі CSV</small><br>
        <input type="submit" class="btn btn-success btn-block"  id="exampleFormControlFile1" value="Завантажити">
    </p>
    
    </div>
    
</form>
<br>
<button class="btn btn-primary" onclick="window.location.href='..'"><i class="fas fa-home"></i> Назад</button>
{% endif %}
{% endblock content %}