{% extends "register/base.html" %}

{% block name %}
Спеціальності
{% endblock name %}

{% block content %}
<div class="overflow-auto">
<a class="btn btn-success" href="{% url 'spec_form' %}" ><i class="far fa-plus-square"></i> Додати запис</a>
<a class="btn btn-success" href="{% url 'spec_csv' %}" ><i class="far fa-plus-square"></i> Експорт бази даних</a>
<a class="btn btn-success" href="{% url 'spec_upload' %}" ><i class="far fa-plus-square"></i> Імпорт бази даних</a>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Номер запису</td>
            <td>Номер спеціальності</td>
            <td>Абревіатура</td>
            <td>Повна назва</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for Specialnost in spec_list %}
        <tr>
            <td>{{Specialnost.id}}</td>
            <td>{{Specialnost.n_specialnosty}}</td>
            <td>{{Specialnost.abbreviatura}}</td>
            <td>{{Specialnost.polnoe_nazv}}</td>
            <td>
            <a href="{% url 'spec_form_id' Specialnost.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form  action="{% url 'spec_delete' Specialnost.id %}" method="POST" class="d-inline" >
                {% csrf_token %}
                <button type="submit" class="btn ">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
            
{% endblock content %}
