{% extends "register/base.html" %}

{% block name %}
Групи
{% endblock name %}

{% block content %}
<div class=" justify-content-left p-2 mb-4" role="toolbar" aria-label="Toolbar with button groups">
<a class="btn btn-success" href="{% url 'groups_form' %}" ><i class="far fa-plus-square"></i> Додати запис</a>
<a class="btn btn-success" href="{% url 'groups_csv' %}" > <i class="fas fa-long-arrow-alt-down"></i> Експорт таблиці</a>
<a name = "write_gr" class="btn btn-success" href="#" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-long-arrow-alt-up"></i> Імпорт таблиці</a>
<a class="btn btn-success" href="#" data-toggle="modal" data-target="#group_filterModal"><i class="fas fa-filter"></i> Фільтр та пошук</a>
  {% include "register/modal.html" %}</div>
  {% include "register/groups/groups_filter.html" %}
<div class="overflow-auto">

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Номер запису</td>
            <td>Назва групи</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#group_filterModal"><i class="fas fa-filter"></i> Номер спеціальності</td>
            <td>Курс</td>
            <td>Форма навчання</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for Groups in groups_list %}
        <tr>
            <td>{{Groups.id}}</td>
            <td>{{Groups.nazvanie}}</td>
            <td>{{Groups.n_specialnosty}}</td>
            <td>{{Groups.kurs}}</td>
            <td>{{Groups.forma}}</td>
            <td>
            <a href="{% url 'groups_form_id' Groups.id %}" class="btn text-secondary px-0">
                <i class="far fa-edit fa-lg"></i>
            </a>
            <form  action="{% url 'groups_delete' Groups.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn">
                    <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                </button>
            </form>
            </td>
        </tr>
        
        {% endfor %}
    </tbody>
</table>
</div>
{% include "../pagination.html" with page=groups_list data='spec' %}               
{% endblock content %}
