{% extends "register/base.html" %}

{% block name %}
Студенти
{% endblock name %}

{% block content %}
<div class=" justify-content-left p-2 mb-4" role="toolbar" aria-label="Toolbar with button groups">
    <a class="btn btn-success" href="{% url 'stud_form' %}" ><i class="far fa-plus-square"></i> Додати запис</a>
    <a class="btn btn-success" href="{% url 'stud_csv' %}" ><i class="fas fa-long-arrow-alt-down " ></i> Експорт таблиці</a>
    <a name = "write_stud" class="btn btn-success" href="#" data-toggle="modal" data-target="#uploadModal"><i class="fas fa-long-arrow-alt-up"></i> Імпорт таблиці</a>
    <a class="btn btn-success" href="#" data-toggle="modal" data-target="#stud_filterModal"><i class="fas fa-filter"></i> Фільтр, пошук, PDF</a>
      {% include "register/modal.html" %}
      {% include "register/stud/stud_filter.html" %}
    </div>

  

    
<div class="overflow-auto">

<table class="table ">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Номер студента</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#stud_filterModal"><i class="fas fa-search"></i> Прізвище</td>
            <td>Ім`я</td>
            <td>По-батькові</td>
            <td>Стать</td>
            <td>ВПО</td>
            <td>Сирота</td>
            <td>Інвалід</td>
            <td>АТО</td>
            <td>Чорнобиль</td>
            <td>Малозабезпечений</td>
            <td>Бюджет</td>
            <td>Дата народження</td>
            <td>Місто</td>
            <td>Вулиця</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#stud_filterModal"><i class="fas fa-search"></i> Номер телефону</td>
            <td><a class="btn btn-light" href="#" data-toggle="modal" data-target="#stud_filterModal"><i class="fas fa-filter"></i> Номер групи</a></td>
            <td>ІПН</td>
            <td>Паспорт</td>
            <td>Стан студента</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        {% for Spisok_stud in stud_list %}
        <tr>
            <td>{{Spisok_stud.id}}</td>
            <td>{{Spisok_stud.familiya}}</td>
            <td>{{Spisok_stud.imya}}</td>
            <td>{{Spisok_stud.otchestvo}}</td>
            <td>{{Spisok_stud.sex}}</td>
            <td>{{Spisok_stud.vpo|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.sirota|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.invalid|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.ato|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.chernobil|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.maloobespech|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.budget|yesno:"+,-"}}</td>
            <td>{{Spisok_stud.data_rozhdeniya}}</td>
            <td>{{Spisok_stud.city}}</td>
            <td>{{Spisok_stud.street}}</td>
            <td>{{Spisok_stud.n_tel}}</td>
            <td>{{Spisok_stud.n_group}}</td>
            <td>{{Spisok_stud.inn}}</td>
            <td>{{Spisok_stud.pasport}}</td>
            <td>{{Spisok_stud.id_stan}}</td>
            <td class="d-inline">
                <a href="{% url 'stud_form_id' Spisok_stud.id %}" class="btn text-secondary px-0">
                    <i class="far fa-edit fa-lg"></i>
                </a>
                <form  action="{% url 'stud_delete' Spisok_stud.id %}" method="POST" class="d-inline" >
                    {% csrf_token %}
                    <button type="submit" class="btn ">
                        <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                    </button>
                </form>
            </td>
        </tr>
        {% endfor %}
        
        
    </tbody>
    
</table>


</div>
{% include "../pagination.html" with page=stud_list data='stud_data' %}
{% endblock content %}