<div class="modal fade" id="stud_filterModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="uploadModalLabel">Фільтрація та пошук</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form method="GET" action="{% url 'stud_list' %}">
                <div class="form-row">
                    <div class="form-group col-12">
                        <div class="input-group">
                            <input type = "search" name = "data" hidden/>
                            <input class="form-control py-2 border-right-0 border" type="search" name="stud_data" autocomplete="off" placeholder="Пошук за прізвищем або номером телефону" />
                            <span class="input-group-append">
                                <div class="input-group-text bg-transparent">
                                    <i class="fa fa-search"></i>
                                </div>
                            </span>
                        </div>
                    </div>        
                </div>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <label for="group">Номер групи</label>
                    <select id="ms" class = "selectpicker" multiple = "multiple" name="cgroup" title = "Оберіть групу">
                      
                      {% for Gr in groupList%}
                      <option value="{{ Gr.id }}">{{ Gr.nazvanie }}</option>
                      {% endfor %}
                      
                    </select>
                  </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Шукати</button>
                <a class="btn btn-secondary" href="{% url 'stud_list' %}" ><i class="fas fa-window-close"></i> Відмінити фільтри</a>
                <span class="mt-auto p-5">
                  <input type="submit" class="btn btn-outline-dark" value = "Звіт" name = "PDF_stud"/>
                </span>
              </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fas fa-sign-out-alt"></i> Назад</button>
                </div>
      </div>
    </div>
  </div>
  